# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Rider
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db
desktop.ini

# RimWorld
*.zip
Source/.vs/
Source/obj/
Source/bin/
**/Assemblies/*.pdb
**/Assemblies/*.mdb

# Backup files
*.bak
*~

